[Desktop Entry]
Type=Application
Name=Amethyst
GenericName=Nostr Client
Comment=Nostr client for desktop
Exec=Amethyst %u
Icon=amethyst
Categories=Network;InstantMessaging;
Terminal=false
StartupNotify=true
StartupWMClass=Amethyst
Keywords=nostr;client;social;chat;
